<?xml version="1.0" encoding="UTF-8"?>
<Configuration>

    <Appenders>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="%style{%date{DEFAULT}}{yellow}
                %highlight{%-5level}{FATAL=bg_red, ERROR=red, WARN=yellow, INFO=green}
                %message%n"/>
        </Console>
       
       <RollingFile name="FATAL" fileName="${sys:catalina.home}/logs/MyReserva-fatal.log" append="true">
            <PatternLayout pattern="%-5p | %d{yyyy-MM-dd HH:mm:ss} | %C{2} (%F:%L) - %m%n"/>
            <FilePattern>${sys:catalina.home}/logs/logs-backup/MyReserva-fatal-%d{yyyy-MM-dd}.log.zip</FilePattern>
            <Policies>
		      <TimeBasedTriggeringPolicy interval="3" modulate="true" />
		    </Policies>
		    <DefaultRolloverStrategy max="1">
			  <Delete basePath="${sys:catalina.home}/logs/logs-backup" maxDepth="3">
		         <IfFileName glob="*MyReserva-fatal-*.log.zip" >
		           <IfLastModified age="3d" />
		         </IfFileName>
		      </Delete>
		    </DefaultRolloverStrategy>
    	</RollingFile>
        
        <RollingFile name="ERROR" fileName="${sys:catalina.home}/logs/MyReserva-error.log" append="true">
            <PatternLayout pattern="%-5p | %d{yyyy-MM-dd HH:mm:ss} | %C{2} (%F:%L) - %m%n"/>
            <FilePattern>${sys:catalina.home}/logs/logs-backup/MyReserva-error-%d{yyyy-MM-dd}.log.zip</FilePattern>
            <Policies>
		      <TimeBasedTriggeringPolicy interval="3" modulate="true" />
		    </Policies>
		    <DefaultRolloverStrategy max="1">
			  <Delete basePath="${sys:catalina.home}/logs/logs-backup" maxDepth="3">
		         <IfFileName glob="*MyReserva-error-*.log.zip" >
		           <IfLastModified age="3d" />
		         </IfFileName>
		      </Delete>
		    </DefaultRolloverStrategy>
    	</RollingFile>
       
        <RollingFile name="DEBUG" fileName="${sys:catalina.home}/logs/MyReserva-debug.log" append="true">
            <PatternLayout pattern="%-5p | %d{yyyy-MM-dd HH:mm:ss} | %C{2} (%F:%L) - %m%n"/>
            <FilePattern>${sys:catalina.home}/logs/logs-backup/MyReserva-debug-%d{yyyy-MM-dd}.log.zip</FilePattern>
            <Policies>
		      <TimeBasedTriggeringPolicy interval="3" modulate="true" />
		    </Policies>
		    <DefaultRolloverStrategy max="1">
			  <Delete basePath="${sys:catalina.home}/logs/logs-backup" maxDepth="3">
		         <IfFileName glob="*MyReserva-debug-*.log.zip" >
		           <IfLastModified age="3d" />
		         </IfFileName>
		      </Delete>
		    </DefaultRolloverStrategy>
    	</RollingFile>
        
        <RollingFile name="TRACE" fileName="${sys:catalina.home}/logs/MyReserva-trace.log" append="true">
            <PatternLayout pattern="%-5p | %d{yyyy-MM-dd HH:mm:ss} | %C{2} (%F:%L) - %m%n"/>
            <FilePattern>${sys:catalina.home}/logs/logs-backup/MyReserva-trace-%d{yyyy-MM-dd}.log.zip</FilePattern>
            <Policies>
		      <TimeBasedTriggeringPolicy interval="3" modulate="true" />
		    </Policies>
		    <DefaultRolloverStrategy max="1">
			  <Delete basePath="${sys:catalina.home}/logs/logs-backup" maxDepth="3">
		         <IfFileName glob="*MyReserva-trace-*.log.zip" >
		           <IfLastModified age="3d" />
		         </IfFileName>
		      </Delete>
		    </DefaultRolloverStrategy>
    	</RollingFile>
        
        <RollingFile name="INFO" fileName="${sys:catalina.home}/logs/MyReserva-info.log" append="true">
            <PatternLayout pattern="%-5p | %d{yyyy-MM-dd HH:mm:ss} | %C{2} (%F:%L) - %m%n"/>
            <FilePattern>${sys:catalina.home}/logs/logs-backup/MyReserva-info-%d{yyyy-MM-dd}.log.zip</FilePattern>
            <Policies>
		      <TimeBasedTriggeringPolicy interval="3" modulate="true" />
		    </Policies>
		    <DefaultRolloverStrategy max="1">
			  <Delete basePath="${sys:catalina.home}/logs/logs-backup" maxDepth="3">
		         <IfFileName glob="*MyReserva-info-*.log.zip" >
		           <IfLastModified age="3d" />
		         </IfFileName>
		      </Delete>
		    </DefaultRolloverStrategy>
    	</RollingFile>
        
        <RollingFile name="SERVLETS" fileName="${sys:catalina.home}/logs/MyReserva-servlet-info.log" append="true">
            <PatternLayout pattern="%-5p | %d{yyyy-MM-dd HH:mm:ss} | %C{2} (%F:%L) - %m%n"/>
            <FilePattern>${sys:catalina.home}/logs/logs-backup/MyReserva-servlet-info-%d{yyyy-MM-dd}.log.zip</FilePattern>
            <Policies>
		      <TimeBasedTriggeringPolicy interval="3" modulate="true" />
		    </Policies>
		    <DefaultRolloverStrategy max="1">
			  <Delete basePath="${sys:catalina.home}/logs/logs-backup" maxDepth="3">
		         <IfFileName glob="*MyReserva-servlet-info-*.log.zip" >
		           <IfLastModified age="3d" />
		         </IfFileName>
		      </Delete>
		    </DefaultRolloverStrategy>
    	</RollingFile>
    	
    </Appenders>
    
    
    <Loggers>        
        <Root additivity="FALSE" level="ALL">
            <AppenderRef ref="STDOUT" level="FATAL"/>            
            <AppenderRef ref="FATAL" level="FATAL"/>
            <AppenderRef ref="ERROR" level="ERROR"/>
            <AppenderRef ref="DEBUG" level="DEBUG"/>
            <AppenderRef ref="TRACE" level="TRACE"/>            
            <AppenderRef ref="INFO" level="INFO"/>
        </Root>

        <Logger name="servlet" level="INFO">
            <AppenderRef ref="SERVLETS"/>
        </Logger>
    </Loggers>

</Configuration>

