<?xml version="1.0" encoding="UTF-8"?>
<Configuration xmlns="http://logging.apache.org/log4j/2.0/config">

    <Appenders>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="%style{%date{DEFAULT}}{yellow}
                %highlight{%-5level}{FATAL=bg_red, ERROR=red, WARN=yellow, INFO=green}
                %message%n"/>
        </Console>
        <File name="FATAL" fileName="${sys:catalina.home}/logs/MyReserva-fatal.log" append="true">
            <PatternLayout pattern="%-5p | %d{yyyy-MM-dd HH:mm:ss} | %C{2} (%F:%L) - %m%n"/>
        </File>
        <File name="ERROR" fileName="${sys:catalina.home}/logs/MyReserva-error.log" append="true">
            <PatternLayout pattern="%-5p | %d{yyyy-MM-dd HH:mm:ss} | %C{2} (%F:%L) - %m%n"/>
        </File>
        <File name="DEBUG" fileName="${sys:catalina.home}/logs/MyReserva-debug.log" append="true">
            <PatternLayout pattern="%-5p | %d{yyyy-MM-dd HH:mm:ss} | %C{2} (%F:%L) - %m%n"/>
        </File>
        <File name="TRACE" fileName="${sys:catalina.home}/logs/MyReserva-trace.log" append="true">
            <PatternLayout pattern="%-5p | %d{yyyy-MM-dd HH:mm:ss} | %C{2} (%F:%L) - %m%n"/>
        </File>
        <File name="SERVLETS" fileName="${sys:catalina.home}/logs/MyReserva-servlet-info.log" append="true">
            <PatternLayout pattern="%-5p | %d{yyyy-MM-dd HH:mm:ss} | %C{2} (%F:%L) - %m%n"/>
        </File>
        <File name="INFO" fileName="${sys:catalina.home}/logs/MyReserva-nfo.log" append="true">
            <PatternLayout pattern="%-5p | %d{yyyy-MM-dd HH:mm:ss} | %C{2} (%F:%L) - %m%n"/>
        </File>
    </Appenders>
    
    <Loggers>        
        <Root additivity="FALSE" level="ALL">
            <AppenderRef ref="STDOUT" level="FATAL"/>            
            <AppenderRef ref="FATAL" level="FATAL"/>
            <AppenderRef ref="ERROR" level="ERROR"/>
            <AppenderRef ref="DEBUG" level="DEBUG"/>
            <AppenderRef ref="TRACE" level="TRACE"/>            
            <AppenderRef ref="INFO" level="INFO"/>
        </Root>

        <Logger name="servlet" level="INFO">
            <AppenderRef ref="STDOUT"/>
            <AppenderRef ref="SERVLETS"/>
        </Logger>
    </Loggers>

</Configuration>