.botones{
	margin-right:10px;
	text-align:center;
	
}
.btn{
	margin-right:30px;
	padding:auto auto auto auto;
	
}
.container-form-per {

	
}

h2 {
  margin-top:10px;
  text-align: center;
}



.form-per {

  max-width: 60%;
  min-width:40%;
  

  padding: 0px;

  margin: 0 auto;
  
}

label{
 margin-bottom:0px; 	

}

.form-per .form-per-heading,

.form-per .checkbox {

  margin-bottom: 10px;

}

.form-per .checkbox {

  font-weight: normal;

}

.form-per .form-control {

  position: relative;

  height: auto;

  -webkit-box-sizing: border-box;

          box-sizing: border-box;

  padding: 10px;

  font-size: 16px;

}

.form-per .form-control:focus {

  z-index: 2;

}

.form-group{
	margin-bottom:8px;
}
