img{
	border: solid #000;
	border-width: 10px;
	width:100%;
	height:100%;
	max-width: 50%;
	max-height:50%;
	margin-top:0px;
	padding-top: 0px;
	

}

body{
	text-align:center;
	background-image: url("../imagenes/compu.jpg");
    background-size:100% 100%;
    background-attachment: fixed;
    
}
.alert{
	margin-bottom:0px;
}

