img{
	border: solid #000;
	border-width: 10px;
	width:100%;
	height:100%;
	max-width: 50%;
	max-height:50%;
	margin-top:0px;
	padding-top: 0px;
	

}

body{
	text-align:center;
	background-image: url("../imagenes/compu.jpg");
    background-size:100% 100%;
    background-attachment: fixed;
    
}
.alert{
	margin-bottom:0px;
}

/*Para el loader*/
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 1s linear infinite; /* Safari */
  animation: spin 1s linear infinite;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -60px;
  margin-left: -60px;
  z-index:0;
  display: none;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
/*fin loader*/