body {

      font:sans-serif;
      color: #777;
  }  
  h2{
	text-align:center;
}

  .nav-tabs li a {
      color: #777;
  }

  .navbar {
      font-family: Montserrat, sans-serif;
      margin-bottom: 0;
      background-color: #2d2d30;
      border: 0;
      font-size: 11px !important;
      letter-spacing: 4px;
      opacity: 0.9;
  }
  .navbar li a, .navbar .navbar-brand { 
      color: #d5d5d5 !important;
  }
  .navbar-nav li a:hover {
      color: #fff !important;
  }
  .navbar-nav li.active a {
      color: #fff !important;
      background-color: #29292c !important;
  }
  .navbar-default .navbar-toggle {
      border-color: transparent;
  }
  .open .dropdown-toggle {
      color: #fff;
      background-color: #555 !important;
  }
  .dropdown-menu li a {
      color: #000 !important;
  }
  .dropdown-menu li a:hover {
      background-color: red !important;
  }
  .form-control {
      border-radius: 0;
  }
  textarea {
      resize: none;
  } 

.eliminar{
	margin-left:10px;
}

.reservar{
	margin-left:10px;
}

.editar{
	margin-left:10px;
}

.cerrar{
	margin-left:10px;
}

.contenedor{
	width:250px;
}
form{
	text-align:right;
}
form label{
 margin-bottom:0px; 	
 margin-top:8px;
 display: block;
 text-align:left;
}


#eselbusqueda{
	margin-top:8px;
}

tr,th{
	text-align:center;
	vertical-align: middle;
}




.nuevo{
	
	padding:2px 12px 8px 8px;
	
}

#myInput{
	margin-right:30px;
}

@media (min-width: 768px) {
    .navbar {
      position: fixed;
      left: 0;
	  right: 0;
	  width: auto;
	  z-index:99;
     }
} 

#btngototop {
	width: 50px;
	height: 50px;
	padding: 10px 16px;
	font-size: 18px;
	line-height: 1.33;
	border-radius: 25px;
	
	
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 2px; /* Place the button at the bottom of the page */
	left:50%;
	margin-left:-25px;

    z-index: 99; /* Make sure it does not overlap */
    border: none;  /* Remove borders */
    outline: none; /* Remove outline */
    /* background-color: #0000ff; Set a background color
    color: white; Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    
    
}

#btngototop:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}