h2{
	text-align:center;
}
.eliminar{
	margin-left:10px;
}

.reservar{
	margin-right:10px;
}

tr,th{
	text-align:center;
	
}

form{
	text-align:right;
}


.nuevo{
	
	padding:2px 12px 8px 8px;
	
}

#myInput{
	margin-right:30px;
}

@media (min-width: 768px) {
    .navbar {
      position: fixed;
      left: 0;
	  right: 0;
	  width: auto;
	  z-index:99;
     }
} 