body {

  padding-top: 10px;

  padding-bottom: 40px;

  background-color: white;

  text-align:center;
}


h2{
	text-align:center;
	color:white;
}


.form-signin {

  max-width: 330px;

  padding: 15px;

  margin: 0 auto;

}

.form-signin .form-signin-heading,

.form-signin .checkbox {

  margin-bottom: 10px;

}

.form-signin .checkbox {

  font-weight: normal;

}

.form-signin .form-control {

  position: relative;

  height: auto;

  -webkit-box-sizing: border-box;

          box-sizing: border-box;

  padding: 10px;

  font-size: 16px;

}

.form-signin .form-control:focus {

  z-index: 2;

}

.form-signin input[type="email"] {

  margin-bottom: -1px;

  border-bottom-right-radius: 0;

  border-bottom-left-radius: 0;

}

.container{
  background-color: rgba(0,0,0,.8);
  border: 1px solid #42464b;
  border-radius: 6px;
  height: 350px;
  margin: 10px auto 0;
  width: 341px;
  
}


.input-group{
	margin-top:30px;
}

/*para el chrome que pone amarillos los inputs*/
input:-webkit-autofill,input:-webkit-autofill:hover, input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 30px white inset;
}


.btn{
  width:280px;
  height:35px;
  font-family:Arial, "Helvetica", sans-serif;
  font-size:16px;
  font-weight:bold;
  color:#fff;
  text-decoration:none;
  text-transform:uppercase;
  text-align:center;
  text-shadow:1px 1px 0px #37a69b;
  padding-top:6px;
  margin-top:40px;
  cursor:pointer;
  border: none;  
  background-color: #1e90ff;
  background-image: linear-gradient(top,#3db0a6,#3111);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius:5px;
  box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #497a78, 0px 10px 5px #999;
  
}

.btn .btn-lg .btn-primary .btn-block{
  opacity:1;
}

#logo{
	width:150px;
	height:150px;
	text-align: center;
}
